{# Generic template to be the base for inheritance #}

<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

<title>{{ title }}</title>

<link rel="stylesheet" type="text/css" href="{{ getUrl('/index.css') }}">

<body lang="{{ locale }}" class="page {% if item %}page-item{% else %}page-feed{% endif %}">

<header class="page-header">
	{% block page_header %}
		<div class="page-logo">
			<a href="{{ getUrl('/') }}#categories" class="page-logo-link">{{ _('Theater') }}</a> <sup>α</sup>
		</div>

		{# List of site categories #}
		<nav class="page-menu" id="categories" hidden>
			<ul class="page-menu-list">
			{% for item in infology.category %}
				<li class="page-menu-list-item">
					<a class="page-menu-list-item-link" href="/{{ item.slug }}">{{ _(item.name)|capitalize }}</a>
				</li>
			{% endfor %}
			</ul>
		</nav>
	{% endblock %}
</header>

<section class="page-content">
	{% block page_content %}{{ content }}{% endblock %}
</section>

<footer class="page-footer">
	{% block page_footer %}
		<div class="page-footer-text">
			Проект "В театр" — некоммерческая коллекция знаменательных театральных постановок, которые стоит увидеть любому человеку, увлекающемуся или связанному с театром.
		</div>

		<div class="page-footer-credits">
			{{ _('Made by') }}
			<a href="https://github.com/dfcreative" class="page-footer-link">{{ _('Deema Ywanov') }}</a>
		</div>
	{% endblock %}
</footer>

<script src="{{ getUrl('/index.js') }}"></script>

<link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

</body>