{# Item preview gallery/image: used in small posts and in single items #}

{% if not previewClass %}{% set previewClass = "item" %}{% endif %}

<div class="{{ previewClass }}-preview-container">
{% if item and item.config.images %}
	<div class="{{ previewClass }}-preview swiper-container">
		<div class="swiper-wrapper">
			{% for image in item.config.images %}
				<div class="swiper-slide">
					<img class="{{ previewClass }}-preview-image" src="{{ getThumbnailUrl(item, image) }}">
				</div>
			{% endfor %}
		</div>
	</div>
{% else %}
	<div class="{{ previewClass }}-preview">
		<img class="{{ previewClass }}-preview-image" src="{{ getThumbnailUrl(item) }}"/>
	</div>
{% endif %}
</div>