{#
	Single item rendering template - vanue, performance, static page
	Includes blocks related to rendering an  item
#}

{% extends "base.html" %}

{% block page_content %}
	{# Big slider #}
	<div class="single-preview-container">
		<div class="single-preview swiper-container">
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>

			<div class="swiper-wrapper">
				{% for image in item.config.images %}
					<div class="swiper-slide">
						<img class="single-preview-image" src="{{ getThumbnailUrl(item, image, previewSize ) }}" srcset="{{ getThumbnailUrl(item, image, previewSize ) }} 1x, {{ getThumbnailUrl(item, image, 'l' ) }} 2x">
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="single-content">
		{# Header #}
		<header class="single-header">
			<h1 class="single-header-title">{{ item.title }}</h1>
			<div class="single-header-original-title">{{ item.original_title }}</div>
		</header>

		{# Main content #}
		{{ super() }}

		{# Comments #}
		<div id="disqus_thread" class="single-comments"></div>
		<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES * * */
			var disqus_shortname = '2theater';

			(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;	dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
	</div>
{% endblock %}